/* style="border-right: 2px solid #fff;float: right;" */

body{
    margin: 0%;
    padding: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00B6FF;
  }

  li {
    padding: 18px 14px;
    border-right: 2px solid #fff;
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  /* li a:hover {
    background-color: #005e83;
  } */

  /* .button {
    background-color: #00B6FF;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
   */
  .button1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  i{
    margin-left: 5px;
    padding-top: 2px;
  }

  *{
  	padding: 0px;
  	margin: 0px;
  }

  nav {
  	display: flex;
  	align-items: center;
  	background: #00B6FF;
  	/* height: 60px; */
  	position: relative;
  }
  .icon {
  	cursor: pointer;
  	/* margin-right: 50px; */
  	/* line-height: 60px; */
  }
  /* .icon span {
  	background: #f00;
  	padding: 7px;
  	border-radius: 50%;
  	color: #fff;
  	vertical-align: top;
  	margin-left: -25px;
  } */
  .icon img {
  	display: inline-block;
  	width: 40px;
  	margin-top: 40px;
  }
  .icon:hover {
  	opacity: 1;
  }

  .logo {
  	flex: 1;
  	margin-left: 50px;
  	/* color: #eee; */
  	font-size: 20px;
  	/* font-family: monospace; */
  }

  .notifi-box {
    background-color:white;
  	width: 300px;
  	height: 0px;
  	opacity: 0;
  	position: absolute;
  	top: 100px;
  	right: 35px;
  	transition: 1s opacity, 250ms height;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .notifi-box h2 {
  	font-size: 14px;
  	padding: 10px;
  	border-bottom: 1px solid #eee;
  	color: black;
    weight: 500;
  }
  .notifi-box h2 span {
  	color: black;
  }
  .notifi-item {
  	display: flex;
  	border-bottom: 1px solid #eee;
  	padding: 15px 5px;
  	/* margin-bottom: 15px; */
  	cursor: pointer;
  }
  .notifi-item:hover {
  	background-color: #00B6FF;
  }
  .notifi-item img {
  	display: block;
  	width: 50px;
  	margin-right: 10px;
  	border-radius: 50%;
  }
  .notifi-box .header{
    background-color: #00B6FF;
  }
  .notifi-item .text h4 {
  	color: black;
  	font-size: 16px;
  	/* margin-top: 10px; */
  }
  .notifi-item .text p {
  	color: black;
  	font-size: 12px;
  }
